@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1591 0 0);
  --card: oklch(0.9579 0.0193 80.1187);
  --card-foreground: oklch(0.1591 0 0);
  --popover: oklch(0.9540 0.0199 154.8984);
  --popover-foreground: oklch(0.1591 0 0);
  --primary: oklch(0.5480 0.1758 32.6730);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4588 0.0969 162.2865);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9720 0.0100 164.8727);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.8868 0.1822 95.3305);
  --accent-foreground: oklch(0.1591 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.9720 0.0100 164.8727);
  --ring: oklch(0.5480 0.1758 32.6730);
  --chart-1: oklch(0.5480 0.1758 32.6730);
  --chart-2: oklch(0.4588 0.0969 162.2865);
  --chart-3: oklch(0.8868 0.1822 95.3305);
  --chart-4: oklch(0.8717 0.0093 258.3382);
  --chart-5: oklch(0.4076 0.1627 21.0454);
  --sidebar: oklch(0.4588 0.0969 162.2865);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.5480 0.1758 32.6730);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8868 0.1822 95.3305);
  --sidebar-accent-foreground: oklch(0.1591 0 0);
  --sidebar-border: oklch(0.6959 0.1491 162.4796);
  --sidebar-ring: oklch(0.5480 0.1758 32.6730);
  --font-sans: "Christmas Sans", sans-serif;
  --font-serif: "Christmas Serif", serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #C23B22;
  --shadow-2xs: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.10);
  --shadow-xs: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.10);
  --shadow-sm: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.20), 0px 1px 2px -1px hsl(9.3750 70.1754% 44.7059% / 0.20);
  --shadow: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.20), 0px 1px 2px -1px hsl(9.3750 70.1754% 44.7059% / 0.20);
  --shadow-md: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.20), 0px 2px 4px -1px hsl(9.3750 70.1754% 44.7059% / 0.20);
  --shadow-lg: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.20), 0px 4px 6px -1px hsl(9.3750 70.1754% 44.7059% / 0.20);
  --shadow-xl: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.20), 0px 8px 10px -1px hsl(9.3750 70.1754% 44.7059% / 0.20);
  --shadow-2xl: 0px 4px 10px 0px hsl(9.3750 70.1754% 44.7059% / 0.50);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1591 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.3564 0.0391 248.9745);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6083 0.2090 27.0276);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6179 0.1668 250.8725);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.8868 0.1822 95.3305);
  --accent-foreground: oklch(0.1591 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4461 0.0263 256.8018);
  --input: oklch(0.2686 0 0);
  --ring: oklch(0.6083 0.2090 27.0276);
  --chart-1: oklch(0.6083 0.2090 27.0276);
  --chart-2: oklch(0.6179 0.1668 250.8725);
  --chart-3: oklch(0.8868 0.1822 95.3305);
  --chart-4: oklch(0.4461 0.0263 256.8018);
  --chart-5: oklch(0.5680 0.2002 26.4057);
  --sidebar: oklch(0.6179 0.1668 250.8725);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6083 0.2090 27.0276);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8868 0.1822 95.3305);
  --sidebar-accent-foreground: oklch(0.1591 0 0);
  --sidebar-border: oklch(0.6531 0.1347 242.6867);
  --sidebar-ring: oklch(0.6083 0.2090 27.0276);
  --font-sans: "Christmas Sans", sans-serif;
  --font-serif: "Christmas Serif", serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #E53935;
  --shadow-2xs: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.15);
  --shadow-xs: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.15);
  --shadow-sm: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.30), 0px 1px 2px -1px hsl(1.3636 77.1930% 55.2941% / 0.30);
  --shadow: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.30), 0px 1px 2px -1px hsl(1.3636 77.1930% 55.2941% / 0.30);
  --shadow-md: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.30), 0px 2px 4px -1px hsl(1.3636 77.1930% 55.2941% / 0.30);
  --shadow-lg: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.30), 0px 4px 6px -1px hsl(1.3636 77.1930% 55.2941% / 0.30);
  --shadow-xl: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.30), 0px 8px 10px -1px hsl(1.3636 77.1930% 55.2941% / 0.30);
  --shadow-2xl: 0px 6px 12px 0px hsl(1.3636 77.1930% 55.2941% / 0.75);
  --tracking-normal: 0.02em;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
